* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.7rem;
  font-family: "Roboto Condensed", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  align-items: center;
  padding: 15px;
  position: fixed;
  top: 0px;
  width: 100%;
  color: ghostwhite;
  z-index: 100;
}

/* .nav-logo {
   padding-top: 20px;
}*/

nav ul {
  display: flex;
  margin: auto;
}

nav ul li {
  list-style: none;
  padding: 0px 20px;
  margin: auto;
}

.btn-custom {
  padding: 7px 20px;
  border-radius: 5px;
  border: 0px;
}

.btn-custom:not(:first) {
  margin-left: 20px;
}

.container {
  padding: 10px 35px;
}

header {
  background-image: url("./images/header2.jpg");
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: relative;
}

.header-content {
  position: absolute;
  top: 30%;
  padding: 0px 35px;
  /* z-index: 1; */
}

.header-content h1 {
  font-size: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: snow;
}

#motivation {
  margin: 50px;
}

#motivation h1 {
  text-transform: uppercase;
}

#motivation p {
  padding-top: 20px;
  max-width: 50%;
  text-align: justify;
}

#gallery {
  margin-bottom: 50px;
}

#gallery ul {
  display: flex;
  padding-bottom: 50px;
}

#gallery ul li {
  list-style: none;
  padding: 0px 15px;
  font-size: 18px;
  font-weight: lighter;
  cursor: pointer;
}

#gallery ul li.active {
  font-weight: bold;
  border-bottom: 1px dashed burlywood;
}

#gallery img {
  /* width: 350px; */
  width: 100%;
  max-height: 300px;
  /* animation: slidein 1s ease-in 0s 1; */
}

.gallery-img {
  transition: all 0.7s;
  cursor: pointer;
}

.gallery-img:hover {
  transform: scale(1.2);
  transition: all 0.7s;
  /* transform: rotateX(10deg); */
}

/* .col {
   overflow: hidden;
} */

/* .row {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: red;
}

.row:not(:last-child) {
  margin-bottom: 80px;
}

.row .col {
  max-width: calc((100% - 60px) / 4.5);
  overflow: hidden;
  background-color: orangered;
}

.row .col-2 {
  max-width: calc((100% - 60px / 2)) !important;
  overflow: hidden;
}

.row .col:not(:last-child) {
  margin-right: 60px;
  background-color: green;
} */

/* vertical : 8 hori : 6*/

#timeline {
  /* height: 100vh; */
  padding: 90px;
  background-color: ghostwhite;
  /* z-index: 10000; */
  position: relative;
}

.img-timeline {
  width: 75%;
  overflow: hidden;
  height: 350px;
  animation: timeline-animation 30s ease-in infinite;
  background-size: cover;
  padding: auto 50px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

.img-timeline:hover {
  box-shadow: 0px 1px 6px rgba(15, 15, 15, 0.5);
  transition: all 0.5s;
}

.timeline__description {
  padding: 15px;
}

.timeline__description::after {
  animation: timeline-description 30s ease-in infinite;
  content: "";
}

.timeline__heading {
  padding: 15px;
}

.timeline__heading::after {
  animation: timeline-heading 30s ease-in infinite;
  content: "";
}

#timeline ul li {
  margin-top: 15px;
  color: grey;
}

#timeline ul li:not(:first-child) {
  margin-top: 50px;
}

#dummy {
  height: 100vh;
  position: relative;
}

.slidein {
  animation: slidein 1s ease-in-out 0s 1;
}

@keyframes slidein {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes timeline-animation {
  0% {
    background-image: url("images/breakfast.jpeg");
    /* opacity: 0; */
  }
  30% {
    /* opacity: 0; */
  }
  33% {
    background-image: url("images/donkeys.jpg");
    /* opacity: 1; */
  }
  63% {
    /* opacity: 0; */
  }
  66% {
    background-image: url("images/rainbow.jpg");
    /* opacity: 1; */
  }
  100% {
    background-image: url("images/rainbow.jpg");
  }
}

@keyframes timeline-description {
  0% {
    content: "We take breakfast very early in the morning and gather around to check each others gear and we head out towards the hills.";
  }
  33% {
    content: "The hills welcomes us with cold breeze, no sign of air pollution whatsoever by the way. The ambient sound of birds and waterfall gives the vibe of hans zimmer music honestly.";
  }
  66% {
    content: "The route on its own is a pleasure in itself but the sightseeing on the desitination will make your jaw drop! Ever seen sun rise so gorgeous you forgot to click a photo? you will. and dont worry we have you covered in photo department";
  }
  100% {
    content: "The route on its own is a pleasure in itself but the sightseeing on the desitination will make your jaw drop! Ever seen sun rise so gorgeous you forgot to click a photo? you will. and dont worry we have you covered in photo department";
  }
}

@keyframes timeline-heading {
  0% {
    content: "Breakfast.";
  }
  33% {
    content: "Trek.";
  }

  66% {
    content: "SightSeeing";
  }

  100% {
    content: "SightSeeing";
  }
}
