* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.7rem;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: dimgrey, transparent;
  align-items: center;
  padding: 15px;
  position: fixed;
  top: 0px;
  width: 100%;
  color: ghostwhite;
  z-index: 100;
}

/* .nav-logo {
   padding-top: 20px;
}*/

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  padding: 0px 20px;
  margin: auto;
}

.btn-custom {
  padding: 7px 20px;
  border-radius: 5px;
  border: 0px;
}

.container {
  padding: 10px 35px;
}

header {
  background-image: url("./images/header2.jpg");
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: relative;
}

.header-content {
  position: absolute;
  top: 30%;
  padding: 0px 35px;
  /* z-index: 1; */
}

.header-content h1 {
  font-size: 50px;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: snow;
}

#motivation {
  margin: 50px;
}

#motivation h1 {
  text-transform: uppercase;
}

#motivation p {
  padding-top: 20px;
  max-width: 50%;
  text-align: justify;
}

#gallery {
  margin-bottom: 50px;
}

#gallery ul {
  display: flex;
  padding-bottom: 50px;
}

#gallery ul li {
  list-style: none;
  padding: 0px 15px;
  font-size: 18px;
  font-weight: lighter;
}

#gallery ul li.active {
  font-weight: bold;
  border-bottom: 1px dashed burlywood;
}

#gallery img {
  /* width: 350px; */
  width: 100%;
  max-height: 300px;
}

/* .col {
   overflow: hidden;
} */

/* .row {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: red;
}

.row:not(:last-child) {
  margin-bottom: 80px;
}

.row .col {
  max-width: calc((100% - 60px) / 4.5);
  overflow: hidden;
  background-color: orangered;
}

.row .col-2 {
  max-width: calc((100% - 60px / 2)) !important;
  overflow: hidden;
}

.row .col:not(:last-child) {
  margin-right: 60px;
  background-color: green;
} */

/* vertical : 8 hori : 6*/

#timeline {
  height: 100vh;
  padding: 90px;
  background-color: ghostwhite;
}

.img-timeline {
  width: 75%;
  overflow: hidden;
  height: auto;
}
